@media (prefers-reduced-motion: no-preference) {
    .slide-right {
        animation: slide-in-right 1s ease-in-out both;
    }
}

@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}